<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <%= stylesheet_link_tag "signup", media: "all" %>
  <%= javascript_include_tag "https://kit.fontawesome.com/7c1ce35e86.js", crossorigin: "anonymous" %>
</head>

<body>
<header>
  <div class="signup-wrapper">
    <nav>
      <div class="signup-logo">
        <%= link_to image_tag("logo.png", alt: "GYMWIKI Logo"), mainpage_path %>
      </div>
      <div class="signup-auth-buttons">
        <%= link_to "Log In", new_user_session_path, class: "signup-login-btn" %>
      </div>
    </nav>
  </div>
</header>

<div class="signup-content-wrapper">
  <div class="signup-sign-up">
    <h1>Sign-Up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <label for="name">
        <span>Name</span>
        <i class="fa-solid fa-person"></i><i class="fa-solid fa-person-dress"></i>
      </label>
      <%= f.text_field :username, id: "name", required: true %>

      <label for="email">
        <span>Email</span>
        <i class="fa-solid fa-envelope"></i>
      </label>
      <%= f.email_field :email, id: "email", required: true %>

      <label for="password">
        <span>Password</span>
        <i class="fa-solid fa-lock"></i>
      </label>

      <div class="signup-sign-up-wrapper">
        <%= f.password_field :password, id: "password", required: true %>
        <button type="button" class="signup-toggle-password-btn">
          <i class="fa-solid fa-eye-low-vision"></i>
        </button>
      </div>

      <label for="password_confirmation">
        <span>Confirm Password</span>
        <i class="fa-solid fa-lock"></i>
      </label>
      <div class="signup-sign-up-wrapper">
      <%= f.password_field :password_confirmation, id: "password_confirmation", required: true %>
      <button type="button" class="signup-toggle-password-btn">
        <i class="fa-solid fa-eye-low-vision"></i>
      </button>
      </div>
      <div class="signup-custom-line"></div>
      <%= f.submit "Sign Up", class: "signup-sign-up-btn" %>
    <% end %>
  </div>

  <footer>
    <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
  </footer>
</div>

<script>
    document.querySelectorAll('.signup-toggle-password-btn').forEach((toggleBtn, index) => {
        const toggleIcon = toggleBtn.querySelector('i');
        const input = toggleBtn.previousElementSibling;

        toggleBtn.addEventListener('click', () => {
            const isPassword = input.type === 'password';
            input.type = isPassword ? 'text' : 'password';

            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-low-vision');
        });
    });
</script>
</body>
</html>
