<!DOCTYPE html>
<html>
<head>
  <title>Admin User Data Page</title>
  <%= stylesheet_link_tag "header", media: "all" %>
  <%= stylesheet_link_tag "admin_user_data", media: "all" %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="audt-content-wrapper">
  <h1>User Data</h1>
  <main class="audt-main-content">
    <table class="audt-user-table">
      <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>john@example.com</td>
        <td><button class="audt-delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: "audt-arrow-link" do %>
            <button class="audt-check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jane Smith</td>
        <td>jane@example.com</td>
        <td><button class="audt-delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: "audt-arrow-link" do %>
            <button class="audt-check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>David Lee</td>
        <td>david@example.com</td>
        <td><button class="audt-delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: "audt-arrow-link" do %>
            <button class="audt-check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>

    <footer>
      <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
    </footer>
  </main>
</div>
</body>
</html>
