<!DOCTYPE html>
<html>
<head>
  <title>Leg</title>
  <%= stylesheet_link_tag 'header', media: 'all' %>
  <%= stylesheet_link_tag 'muscle', media: 'all' %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="content-wrapper">
  <main class="main-content">
    <h1>Leg</h1>
    <section class="tools-section">
      <div class="tool-card">
        <%= link_to bs_path do %>
          <h3>Barbell Squat</h3>
          <%= image_tag 'Barbell Squat.webp', alt: 'Barbell Squat' %>
        <% end %>
        <p>The classic leg exercise in strength training is the barbell squat...</p>
      </div>
    </section>

    <section class="tools-section">
      <div class="tool-card">
        <%= link_to ccp_path do %>
          <h3>Machine Leg Press</h3>
          <%= image_tag 'Machine Leg Press.webp', alt: 'Machine Leg Press' %>
        <% end %>
        <p>...seated leg press can exist in two other variants...</p>
      </div>
    </section>

    <section class="tools-section">
      <div class="tool-card">
        <%= link_to pu_path do %>
          <h3>Machine Hamstring Curl</h3>
          <%= image_tag 'Machine Hamstring Curl.webp', alt: 'Machine Hamstring Curl' %>
        <% end %>
        <p>...under the leg pad, making sure it’s above your heel...</p>
      </div>
    </section>
  </main>

</div>
</body>
</html>