<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag "login", media: "all" %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="content-wrapper">
  <div class="login">
    <h1>Log in to <span style="color: #E1FF00;">GYMWIKI</span></h1>

    <%= form_with url: pages_login_path, method: :post, local: true do |form| %>
      <label for="email">
        <span>Email</span>
        <i class="fa-solid fa-envelope"></i>
      </label>
      <%= form.email_field :email, id: "email", required: true %>

      <label for="password">
        <span>Password</span>
        <i class="fa-solid fa-lock"></i>
      </label>

      <div class="input-wrapper">
        <%= form.password_field :password, id: "password", required: true %>
        <button type="button" class="toggle-password-btn">
          <i class="fa-solid fa-eye-low-vision"></i>
        </button>
        <div class="custom-line"></div>
      </div>

      <%= form.submit "Log In", class: "login-btn" %>
    <% end %>
  </div>

</div>
</body>
</html>