<header>
  <div class="wrapper">
    <nav>
      <div class="logo">
        <%= link_to image_tag("logo.png", alt: "GYMWIKI Logo"), root_path %>
      </div>

      <div class="nav-main">
        <ul class="nav-links">
          <li><%= link_to "Action", action_path %></li>
          <li class="has-megamenu">
            <span class="menu-title">Tools</span>
            <div class="megamenu">
              <div class="menu-column">
                <%= link_to bmi_path do %>
                  <i class="fa-solid fa-weight-scale"></i>
                  <strong>BMI Calculator</strong><br>
                <% end %>
              </div>
              <div class="menu-column">
                <%= link_to calorie_path do %>
                  <i class="fa-solid fa-scale-balanced"></i>
                  <strong>Calories Calculator</strong><br>
                <% end %>
              </div>
            </div>
          </li>
          <li><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Routines", routine_path %></li>
          <li><%= link_to "Workout History", workout_history_path %></li>
        </ul>

        <div class="auth-buttons">
          <%= link_to "Log In", pages_login_path, class: "login-btn" %>
          <%= link_to "Sign Up", signup_path, class: "signup-btn" %>
        </div>
      </div>
    </nav>
  </div>
</header>
